.login-container {
    display: grid;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.login-header {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.login-header .text{
    color: rgb(10, 119, 156);
    font-size: 48px;
    font-weight: 700;
}

.login-header .underline{
    width: 50%;
    height: 6px;
    background: rgb(10, 119, 156);
    border-radius: 9px;
    margin: auto;
    margin-top: 15px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputs .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}
.inputs .input img{
    margin: 0px 30px;
}

.inputs .input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: rgb(10, 119, 156);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit-container .submit{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: rgb(10, 119, 156);
    border-radius: 50px;
}
.gray{
    background: #eaeaea;
    color: #676767;
}